.navbar {
  background-color: #000000;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-links a:hover {
  color: tomato;
  cursor: pointer;
}

.nav-links a:last-child {
  font-weight: bold;
  color: #ffd700;
  transition: 0.3s ease-in-out;
}

.nav-links a:last-child:hover {
  scale: 1.1;
  margin-left: 15px;
  color: tomato;
}

.nav-links a::before {
  content: attr(data-icon);
  font-size: 1.5rem;
}

.nav-links a.active {
  font-weight: bolder;
  color: tomato;
}

.nav-links button {
  background: #ff6347;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-links button:hover {
  background-color: #ff6347;
  background: #ff3b1f;
  transform: scale(1.04);
  box-shadow: 1px rgba(0, 0, 0, 0.2);
}